{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Know Invasives</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="{% static 'plant_search/vendor/nouislider/nouislider.css' %}">
    <link rel="stylesheet" href="{% static 'plant_search/vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'plant_search/vendor/bootstrap/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{% static 'plant_search/css/style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" href="{% static 'plant_search/css/custom.css' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'plant_search/img/favicon.png' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  </head>
  <body style="padding-top: 72px;">

    <!-- Navbar -->
    <!-- Hero Section -->
    <section class="hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
          <div class="swiper-slide" style="background-image:url('{% static 'plant_search/img/photo-home-image1.jpg' %}')"></div>
          <div class="swiper-slide" style="background-image:url('{% static 'plant_search/img/photo-home-image2.jpg' %}')"></div>
          <div class="swiper-slide" style="background-image:url('{% static 'plant_search/img/photo-home-image3.jpg' %}')"></div>
        </div>
      </div>

      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-center text-lg-start">
              <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">Plant Smarter</p>
              <h1 class="display-3 fw-bold text-shadow">Is it Invasive?</h1>
            </div>

            <!-- Search Form -->
            <div class="search-bar mt-5 p-3 p-lg-1 ps-lg-4">
              <form method="GET" action="{% url 'plant_search' %}">
                <div class="row">
                  <div class="col-lg-6 d-flex align-items-center form-group">
                    <input class="form-control border-0 shadow-0" type="text" name="query" placeholder="Plant Name">
                  </div>
                  <div class="col-lg-4 d-flex align-items-center form-group">
                    <div class="input-label-absolute input-label-absolute-right w-100">
                      <label class="label-absolute" for="State"><i class="fa fa-crosshairs"></i><span class="sr-only">State</span></label>
                      <input class="form-control border-0 shadow-0" type="text" name="state" placeholder="State (optional)" id="state">
                    </div>
                  </div>
                  <div class="col-lg-2 d-grid">
                    <button class="btn btn-primary rounded-pill h-100" type="submit">Search</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="position-relative z-index-10 d-print-none">
      <!-- Main block - explanation text -->
      <div class="py-3 bg-gray-800 text-gray-300">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <p class="text-sm mb-0">Know Invasives helps users identify invasive plants and prevent accidental purchasing and planting. We aggregate data from various sources to help you make informed decisions about your garden and environment.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyright section of the footer-->
    </footer>

    <!-- JavaScript Files -->
    <script>
      function injectSvgSprite(path) {
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');
    </script>

    <!-- External JS Libraries -->
    <script src="{% static 'plant_search/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plant_search/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plant_search/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'plant_search/vendor/smooth-scroll/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'plant_search/vendor/bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plant_search/vendor/object-fit-images/ofi.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="js/theme.js"></script>
  </body>
</html>